<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[EDIT] 농구 페이지</title>

  <!-- 공통 CSS -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/sport-card.css">
</head>

<body>

<div class="container">
  <h1>[EDIT] 필립과 함께하는 발리유소년 [종목]!</h1>

  <div class="card-grid">

    <!-- ✅ [HTML EDIT 필수!]강사 프로필 보기 -->
    <div class="teacher-card"
         onclick="location.href='sports_coach_list.html'">

      <!-- 🔁 강사 수만큼 img 추가 -->
      <div class="coach-avatars">
        <img src="../images/bally-youth.png" alt="강사 1">
        <img src="../images/bally-youth.png" alt="강사 2">
        <!-- <img src="../images/coaches/xxx/xxx.png"> -->
      </div>

      <div class="teacher-name">[EDIT] ~~강사 프로필 보기</div>
    </div>

    <!-- ✅ 인스타그램 -->
    <div class="teacher-card"
         onclick="window.open('https://www.instagram.com/bally_junior_sports_club?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==','_blank')">

      <div class="teacher-images">
        <img src="../images/instagram_logo.png" alt="인스타그램">
      </div>

      <div class="teacher-name">발리유소년 인스타그램</div>
    </div>

  </div>

  <footer>[EDIT] 종목 특징 예시: 팀워크, 키성장에 도움되는~~~</footer>
</div>

<!-- 신학기 모집/스케줄 버튼 -->
<div class="back-home">
  <a href="../promotion.html">신학기 모집/스케줄</a>
</div>

<!-- 홈으로 돌아가기 버튼 -->
<div class="back-home">
  <a href="/">홈으로 돌아가기</a>
</div>

</body>
</html>
